
@{
    ViewData["Title"] = "CheckMsg";
}


<h1>Message Dashboard</h1>

<div id="messageContainer">
    <!-- Messages will be dynamically added here -->
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/datainformation.js"></script>

